.home-first-wrapper {
    display: flex;
    align-items: center;
    margin: 50px 0;
    justify-content: space-evenly;
    padding: 0 180px;
  }
  
  .home-first-left {
    max-width: 400px;
  }
  
  .home-first-title {
    font-size: 40px;
    color: #040c84;
    text-align: left;
  }
  
  .home-first-para {
    max-width: 380px;
    margin: 0 0 40px 0;
    font-size: 18px;
    color: #515457;
    text-align: left;
  }
  
  .home-img {
    border-radius: 5px;
    width: 400px;
  }
  
  .button-wrapper {
    display: flex;
    align-items: center;
  }
  
  .button-one {
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background-color: #040c84;
    color: white;
    margin-right: 20px;
    transition: all 500ms ease;
    cursor: pointer;
  }
  
  .button-two {
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 50px;
    border: none;
    background-color: #e6e6e6;
    color: #040c84;
    transition: all 500ms ease;
    cursor: pointer;
  }
  
  .button-one:hover {
    background-color: #4a4f9b;
    color: white;
  }
  
  .button-two:hover {
    background-color: #f1f1f1;
    color: #040c84;
  }
  
  .header-underline {
    text-decoration: none; 
  }

  .header-underline1 {
    color: white;
    text-decoration: none;
  }